.header {
    background-color: var(--bg);
    height: 96px;
    color: var(--fg);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 50;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 3px solid var(--accent-bg);
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 1rem 
}

.logo {
    font-size: 2.5rem;
    letter-spacing: 6px;
    font-weight: 900;
    color: var(--accent-bg);
    text-decoration: none;
    user-select: none;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav a {
    text-decoration: none;
    color: var(--fg);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2rem;
    transition: color 0.2s ease;
}

.nav a:hover {
    color: var(--accent-bg);
}

.cta {
    background-color: var(--accent-bg);
    color: var(--accent-fg);
    border: none;
    padding: 0.6rem 1.4rem;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cta:hover {
    background-color: var(--accent-bg-hover);
}

.menuButton {
    display: none;
    background: none;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 2rem;
    color: var(--fg);
    cursor: pointer;
    border-radius: 2px;
}

.menuButton:hover {
    outline: 1px solid var(--fg );
}

.mobileMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-bg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.25s ease-out;
}

.mobileMenu ul {
    list-style: none;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mobileMenu a {
    text-decoration: none;
    color: var(--fg);
    font-weight: 500;
}

.mobileMenu a:hover {
    color: var(--accent-bg)
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .header {
        height: 64px;
    }

    .logo {
        font-size: 1.5rem;
    }

    .cta {
        display: none;
    }

    .menuButton {
        display: flex;
    }

    .mobileMenu {
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}