.header {
    background-color: var(--bg);
    height: 64px;
    color: var(--fg);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 50;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--accent-bg);
    text-decoration: none;
    user-select: none;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav a {
    text-decoration: none;
    color: var(--fg);
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav a:hover {
    color: var(--accent-bg);
}

.cta {
    background-color: var(--accent-bg);
    color: var(--accent-fg);
    border: none;
    padding: 0.6rem 1.4rem;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cta:hover {
    background-color: var(--accent-bg-hover);
}

.menuButton {
    display: none;
    background: none;
    border: none;
    font-size: 1.6rem;
    color: var(--fg);
    cursor: pointer;
}

.mobileMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-bg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    animation: slideDown 0.25s ease-out;
}

.mobileMenu ul {
    list-style: none;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mobileMenu a {
    text-decoration: none;
    color: var(--fg);
    font-weight: 500;
}

.mobileMenu a:hover {
    color: var(--accent-bg)
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .cta {
        display: none;
    }

    .menuButton {
        display: block;
    }
    .mobileMenu {
        display: block;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}