:root {
  --bg: #f8fafc;
  --fg: #0f172a;
  --accent-bg: #0ea5e9;
  --accent-fg: #ffffff;
  --accent-bg-hover: #0284c7;
  --secondary-bg: #e2e8f0;
  --secondary-fg: #1e293b;
}

[data-theme="dark"] {
  --bg: #0f172a;
  --fg: #f1f5f9;
  --accent-bg: #38bdf8;
  --accent-fg: #0f172a;
  --accent-bg-hover: #0ea5e9;
  --secondary-bg: #1e293b;
  --secondary-fg: #e2e8f0;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--fg);
  background-color: var(--bg);
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 64px;
  width: 100%;
}

.globalContentWrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 5rem 2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--accent-bg);
  margin-bottom: 3rem;
}

.fadeUp {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Fade-up when visible */
.fadeUp.visible {
    opacity: 1;
    transform: translateY(0);
}